<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Slider</title>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <div class="cats cats--indent">
        <div class="cats__content">
            <ul class="cats__list">
                <li class="cats__item" data-cats="0">1<img class="cats__img" src="images/cats/1.jpg"></li>
                <li class="cats__item" data-cats="1">2<img class="cats__img" src="images/cats/2.jpg"></li>
                <li class="cats__item" data-cats="2">3<img class="cats__img" src="images/cats/3.jpg"></li>
                <li class="cats__item" data-cats="3">4<img class="cats__img" src="images/cats/4.jpg"></li>
                <li class="cats__item" data-cats="4">5<img class="cats__img" src="images/cats/5.jpg"></li>
            </ul>
        </div>
        <div class="cats__controls"><a class="cats__control-arrow cats__control-arrow--prev" href="#5"></a><a class="cats__control-arrow cats__control-arrow--next" href="#5"></a></div>
        <div class="cats__dots">
            <ul class="cats__dots-list">
                <li class="cats__dots-item active" data-dots="0"></li>
                <li class="cats__dots-item" data-dots="1"></li>
                <li class="cats__dots-item" data-dots="2"></li>
                <li class="cats__dots-item" data-dots="3"></li>
                <li class="cats__dots-item" data-dots="4"></li>
            </ul>
        </div>
        <script src="scripts/common.js"></script>
    </div>
</body>

</html>
