<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Slider</title>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <div class="slider">
        <div class="slides">
            <ul class="slides__list">
                <li class="slides__item" data-slides="0"><img class="slides__img" src="images/slides/1.jpg"></li>
                <li class="slides__item" data-slides="1"><img class="slides__img" src="images/slides/2.jpg"></li>
                <li class="slides__item" data-slides="2"><img class="slides__img" src="images/slides/3.jpg"></li>
                <li class="slides__item" data-slides="3"><img class="slides__img" src="images/slides/4.jpg"></li>
                <li class="slides__item" data-slides="4"><img class="slides__img" src="images/slides/5.jpg"></li>
                <li class="slides__item" data-slides="5"><img class="slides__img" src="images/slides/6.jpg"></li>
                <li class="slides__item" data-slides="6"><img class="slides__img" src="images/slides/7.jpg"></li>
            </ul>
            <div class="controls"><a class="controls__arrow controls__arrow--prev" href="#5"></a><a class="controls__arrow controls__arrow--next" href="#5"></a></div>
        </div>
        <div class="dots">
            <ul class="dots__list">
                <li class="dots__item dots__item--active" data-button="0"></li>
                <li class="dots__item" data-button="1"></li>
                <li class="dots__item" data-button="2"></li>
                <li class="dots__item" data-button="3"></li>
                <li class="dots__item" data-button="4"></li>
                <li class="dots__item" data-button="5"></li>
                <li class="dots__item" data-button="6"></li>
            </ul>
        </div>
    </div>
    <script src="scripts/common.js"></script>
</body>

</html>
