<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Slider</title>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <div class="slider-looped">
        <div class="slider-looped__content">
            <ul class="slider-looped__list">
                <li class="slider-looped__item" data-slider="0">1<img class="slider-looped__img" src="images/slider/1.jpg"></li>
                <li class="slider-looped__item" data-slider="1">2<img class="slider-looped__img" src="images/slider/2.jpg"></li>
                <li class="slider-looped__item" data-slider="2">3<img class="slider-looped__img" src="images/slider/3.jpg"></li>
                <li class="slider-looped__item" data-slider="3">4<img class="slider-looped__img" src="images/slider/4.jpg"></li>
                <li class="slider-looped__item" data-slider="4">5<img class="slider-looped__img" src="images/slider/5.jpg"></li>
                <li class="slider-looped__item" data-slider="5">6<img class="slider-looped__img" src="images/slider/6.jpg"></li>
                <li class="slider-looped__item" data-slider="6">7<img class="slider-looped__img" src="images/slider/7.jpg"></li>
            </ul>
        </div>
        <div class="slider-looped__controls"><button class="slider-looped__arrow slider-looped__arrow--prev" type="button"></button><button class="slider-looped__arrow slider-looped__arrow--next" type="button"></button></div>
        <div class="slider-looped__dots">
            <ul class="slider-looped__dots-list">
                <li class="slider-looped__dots-item active" data-button="0"></li>
                <li class="slider-looped__dots-item" data-button="1"></li>
                <li class="slider-looped__dots-item" data-button="2"></li>
                <li class="slider-looped__dots-item" data-button="3"></li>
                <li class="slider-looped__dots-item" data-button="4"></li>
                <li class="slider-looped__dots-item" data-button="5"></li>
                <li class="slider-looped__dots-item" data-button="6"></li>
            </ul>
        </div>
    </div>
    <script src="scripts/common.js"></script>
</body>

</html>
