.slides {
    padding-top: 50px;
    width: 700px;
    position: relative;
    margin: 0 auto;

    &__list {
        list-style: none;
        margin-bottom: 20px;
    }

    &__item {
        opacity: 0;
        visibility: hidden;
        height: 0;

        &.active {
            visibility: visible;
            height: 395px;
            opacity: 1;
            animation: slider 1s;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

@keyframes slider {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}

/* Slider. Second */

.slider-looped {
    width: 700px;
    margin: 50px auto 0;
    position: relative;

    &__content {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        position: relative;
        list-style: none;
        height: 100%;
        left: 0;
    }

    &__item {
        width: 700px;
        height: auto;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__arrow {
        padding: 0;
        border: none;
        width: 30px;
        height: 30px;
        outline: none;
        background: url("../images/controls/left-arrow.svg");
        position: absolute;
        top: 50%;
        margin-top: -35px;

        &--next {
            transform: rotateY(180deg);
            right: 0;
        }
    }

    /* Dots */

    &__dots-list {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    &__dots-item {
        width: 20px;
        height: 20px;
        border: 2px solid #4FBA6F;
        box-sizing: border-box;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;

        &.active {
            border: 5px solid #4FBA6F;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Cats */

.cats {
    width: 700px;
    margin: 0 auto;
    position: relative;

    &--indent {
        margin-top: 50px;
    }

    &__content {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__list {
        position: relative;
        left: 0;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        list-style: none;
    }

    &__item {
        width: 700px;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__control-arrow {
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -12px;
        background: url("../images/controls/back.svg") 100% no-repeat;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
            transform: rotate(180deg);
        }
    }

    &__dots-list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__dots-item {
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid #FFA500;
        border-radius: 50%;
        margin-right: 10px;
        box-sizing: border-box;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background: #FFA500;
        }
    }
}
